body {
  background-image: url("../images/Throne.png");
  width: 100%;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: dimgrey;
  text-shadow: 3px 3px gray;
  margin-bottom: 5rem;
  text-align: center;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.container {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 1rem;
  width: 10rem;
  text-align: center;
  border: 0.1rem solid whitesmoke;
  margin-bottom: 1rem;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(75, 75, 75);
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(108, 108, 108);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}


#question {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2.8rem;
    border: 0.1rem solid whitesmoke;
    background-color: whitesmoke;
    opacity: .7;
    padding: 1rem;

  }

.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid whitesmoke;
  background-color: whitesmoke;
  opacity: .7;
  padding: 1rem;
}

.choice {
    width: 100%;
}

.correct {
    background-color: rgb(59, 126, 59);
}

.incorret {
    background-color: rgb(247, 102, 102);
}